@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url(./Desktop.png);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    font-weight: 1000;
}
.divh{
    display: flex;
    justify-content: center;
}
.headul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}
header li{
    margin-right: 30px;
}
#vniz{
    position: absolute;
    top: 38.4px;
    left: 720px;
    width: 7px;
    height: 5px;
}
#logo{
    width: 100px;
    height: 35px;
}
.ligray{
    color: gray;
}
#palki{
    width: 47px;
    height: 17px;
    position: absolute;
    bottom: 752px;
    right: 304px;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firsth1{
    font-weight: 1000;
    font-size: xx-large;
}
.endsec1{
    display: flex;
    flex-direction: row;
    position: relative;
}
#imgsec1{
    position: absolute;
    left: 195px;
    top: 30px;
    width: 200px;
    height: 50px;
}
#endsec1h{
    margin-right: 20px;
}
.blackdiv{
    margin-top: 9px;
    color: white;
    background-color: black;
    width: 200px;
    text-align: center;
    height: 60px;
}
#blueh3{
    color: #018FDE;
}
#longpalki{
    width: 350px;
}
.enddiv{
    width: 46px;
    height: 20px;
    border: solid gray 1px;
    display: flex;
    align-items: center;
    margin-right: 200px;
}
#ugol{
    position: absolute;
    bottom: 290px;
    right: 550px;
}
#ugol2{
    position: absolute;
    top: 190px;
    left: 580px;
}
.sec2{
    margin-left: 10%;
    display: flex;
    align-items: center;
    width: 70%;
    height: 500px;
    background-color: white;
    position: relative;
}
#contact{
    color: #018FDE;
}
.divsec2{
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: -350px;
}
.divdiv{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 355px;
    top: 170px;
}
.input{
    width: 300px;
    height: 30px;
    background-color: #EEF3FC;
    border: 1px solid #8792A7;
    color: #8792A7;
}
#longinput{
    height: 300px;
    height: 100px;
    background-color: #EEF3FC;
    border: 1px solid #8792A7;
    color: #8792A7;
}
#send{
    border: 1px black solid;
    background-color: black;
    color: white;
    height: 50px;
    width: 250px;
    margin-left: 150px;
    z-index: 3;
    font-size: 15px;
}
#box{
    width: 250px;
    height: 50px;
    border: 1px gray solid;
    background-color: white;
    margin-top: -40px;
    margin-left: 140px;
    z-index: 1;
}
footer{
    margin-top: 100px;
    background-color: black;
    width: 100%;
    height: 350px;
}
#fot2{
    list-style: none;
    display: flex;
    color: gray ;
    font-size: 17px;
    margin-top: 3%;
}
#fot{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    font-size: 20px;
}
#li1{
    margin-top: 3%;
    color: #018FDE;
    font-size: 20px;
}
#li2{
    margin-top: 3%;
}
#li3{
    margin-top: 3%;
}
#li4{
    margin-top: 3%;
}
#li5{
    margin-left: 100px;
}
#li6{
    margin-left: 150px;
}
#li7{
    margin-left: 250px;
}
#li8{
    margin-left: 90px;
}
#A{
    font-size: 20px;
    color: white;
}